<!DOCTYPE html>
<html lang="hu">

    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script src="/js/forms.js"></script>
        <script src="/js/reservations.js"></script>
        <link rel="stylesheet" href="/css/reservations.css">
        <title>My Reservations</title>
    </head>

    <div id="header">
        <div id="logo" onclick="location.href = '/admin'">Go to Admin Panel</div>
        <div id="user" class="dropdown">
            <div id="name" class="dropbtn">
                {{#ifDefined name }}
                    {{this}}
                    </div>
                    <div class="dropdown-content">
                        <a href="/">Front page</a>
                        <a href="/logout">Log out</a>
                    </div>
                {{else}}
                    <a href="/login">Log in</a></div>
                {{/ifDefined}}

        </div>
    </div>

    <div id="content">
        <div class="form-container">

            <div id="schedules">
                <table id="schedules-table">
                    <tr>
                      <th>ID</th>
                      <th>Note</th>
                      <th>User ID</th>
                      <th>Schedule ID</th>
                      <th>Time</th>
                    </tr>
                    {{#each reservations}}
                        <tr class="reservations" id="{{ id }}">
                            <td>{{ id }}</td>
                            <td>{{ reservation_for }}</td>
                            <td>{{ user_id }}</td>
                            <td>{{ schedule_id }}</td>
                            <td>{{ created_at }}</td>
                        </tr>
                    {{/each}}
                  </table>
            </div>  

            <div id="spacer">
                <br>
                <!-- Element to make space between the other two elements -->
            </div>
            <input id="reservation-btn" type="button" value="Create Reservations">

        </div>
    </div>

</html>